{% extends "layout.html" %}

{% block content %}

<div class="container-md">

  <div class="row text-center align-items-center" id="branding">
    <div class="col">
      <h1 class="text-muted">Hi, my name is</h1>
      <h1 class="display-4">Francis Beouquie</h1>

      <button class="btn btn-outline-dark">Send Message</button>

      <button class="btn btn-warning">Follow</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6">
      <p class="lead">Aenean in feugiat est, eget viverra libero. Suspendisse volutpat erat quis odio elementum scelerisque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in feugiat est, eget viverra libero. Suspendisse volutpat erat quis odio elementum scelerisque. Ut ex augue, laoreet placerat nisi volutpat, vehicula volutpat nisi. In ac ligula quis sem imperdiet condimentum. Ut ac fringilla ex. Donec facilisis vestibulum faucibus. Suspendisse malesuada imperdiet molestie. Donec at facilisis sem, in laoreet quam. Mauris ut euismod dui, eget ultricies nibh. Praesent ac magna nisl. Nam et dolor ligula. Sed laoreet vel magna sit amet euismod.</p>
    </div>
  </div>
</div>

{% endblock %}