<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EcoEats </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- API Key: AIzaSyDXAyOiMguoCfaShMK7_tYexWPqPkWmCoc -->
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
            key: "AIzaSyDXAyOiMguoCfaShMK7_tYexWPqPkWmCoc",
            v: "weekly",
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXAyOiMguoCfaShMK7_tYexWPqPkWmCoc&libraries=places&callback=initAutocomplete"></script>

</head>


<body>
    <div class="page-wrapper">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">EcoEats</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/journey">Our Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-logout" href="/auth/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <p id="demo"></p>
    <div id="svg_wrap"></div>

    <h1 id="welcomeMessage">Welcome to EcoEats! Order Here!</h1>

    <!-- Multi-stage form -->
    <!-- Stage 1: Choose Restaurant -->
    <section>
        <h2>Select a Restaurant</h2>
        <div class="mapDiv">
            <form id="addressForm" style="text-align: left;" name="address">
                <label for="address">Delivery Address</label>
                <input type="text" class="mb-3 form-control" id="address" name="address" placeholder="Enter Delivery Address" required>
                <p class="container-md" id="autocompleteDropdown"></p>
            </form>

            <div style="text-align: left; margin-top: 30px; margin-bottom: 20px;" class="selectRestaurantDiv">
                <label> Select a Restaurant to Order From: </label> 
                <select id="availableRestaurants"> <!-- blank until user enters address-->
                    <option class="restaurantOption"> </option>
                </select>
                
            </div>
    
            <div id="map"></div>

            <div id="directions-panel"></div>
            
        </div>
    </section>

    <!-- Stage 2: Order -->
    <section class="otherSections">
        <h2>Choose Your Order Items</h2>
        <div class="form-group">
            <label for="meal">Select an item</label>
            <select class="form-control" id="meal" name="meal" required disabled>
                <option value="meal1">Burrito</option>
            </select>
        </div>

        <h2 style="margin-top: 30px">Additional Order Information</h2>
        <div class="form-group">
            <label for="special-requests">Enter Special Requests:</label>
            <textarea class="form-control" id="special-requests" name="special-requests"></textarea>
        </div>
    </section>

    <!-- Stage 3: Personal Info -->
    <section class="otherSections">   
        <h2>Personal Information</h2>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name Here" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number Here" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email Here" required>
        </div>
        <div class="form-group">
            <label for="delivAddress">Delivery Address</label>
            <input type="text" class="form-control" id="delivAddress" name="delivAddress" placeholder="Enter Address in first form section" disabled required>
        </div>
    </section>

    <!-- Stage 4: Confirmation -->
    <section class="otherSections">
        <h2>Order Details</h2>

        <!-- Display order summary -->
        <p>Burrito: <span class="checkoutPrice">$11.59</span></p>
        <p>Sales Tax (5%): <span class="checkoutPrice">+ $0.58</span></p>
        <p>Delivery: <span class="checkoutPrice">+ $5.50</span></p>
        <hr>
        <p> Total: <span class="checkoutPrice">$17.67</span></p>
        <hr>
        <br>

        <!-- Payment -->
        <div class="form-group">
            <label for="cardNumber">Credit Card Number</label>
            <input type="number" class="form-control" id="cardNumber" placeholder="Enter Credit Card Number" name="cardNumber" required>
        </div>
        <div class="form-group">
            <label for="phone">CVV</label>
            <input type="number" class="form-control" id="cardCVV" placeholder="Enter CVV Number" name="cardCVV" required>
        </div>
        <div class="form-group">
            <label for="cardDate">MM/YY</label>
            <input type="text" class="form-control" id="cardDate" placeholder="Enter Card Expiration Date" name="cardDate" required>
        </div>
        <div class="form-group">
            <label for="cardZip">Zip</label>
            <input type="number" class="form-control" id="cardZip" placeholder="Enter Zip" name="cardZip" required>
        </div>
        <div class="form-group">
            <label for="cardName">Cardholder Name</label>
            <input type="text" class="form-control" id="cardName" placeholder="Enter Cardholder Name" name="cardName" required>
        </div>

    </section>

    <div class="button" id="prev">&larr; Previous</div>
    <div class="button" id="next">Next &rarr;</div>
    <div class="button" id="submit" onclick="submitOrder()">Agree and Send Order</div>

</body>

<!-- Regular JS form stuff -->
<script>
    function submitOrder() {
        for (var inputField of document.getElementsByClassName('form-control')) {
            if ($(inputField).attr('id') == "special-requests") { continue; }
            if ($(inputField).val() == '') {
                alert("Please fill out all fields before checking out");
                return;
            }
        }
        alert("Thank you for ordering from EcoEats!");
        window.location = window.location.origin + "/auth/login"; // window resets to login page, which takes user back to order page
    }
</script>


<!-- CSS stuff -->
<script>
    $( document ).ready(function() {
        var base_color = "rgb(230,230,230)";
        var active_color = "rgb(237, 40, 70)";
        
        var child = 1;
        var length = $("section").length - 1;
        $("#prev").addClass("disabled");
        $("#submit").addClass("disabled");
        
        $("section").not("section:nth-of-type(1)").hide();
        $("section").not("section:nth-of-type(1)").css('transform','translateX(100px)');
        
        var svgWidth = length * 200 + 24;
        $("#svg_wrap").html(
        '<svg version="1.1" id="svg_form_time" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 ' +
            svgWidth +
            ' 24" xml:space="preserve"></svg>'
      );
        
    function makeSVG(tag, attrs) {
      var el = document.createElementNS("http://www.w3.org/2000/svg", tag);
      for (var k in attrs) el.setAttribute(k, attrs[k]);
      return el;
    }
    
    for (i = 0; i < length; i++) {
      var positionX = 12 + i * 200;
      var rect = makeSVG("rect", { x: positionX, y: 9, width: 200, height: 6 });
      document.getElementById("svg_form_time").appendChild(rect);
      // <g><rect x="12" y="9" width="200" height="6"></rect></g>'
      var circle = makeSVG("circle", {
        cx: positionX,
        cy: 12,
        r: 12,
        width: positionX,
        height: 6
      });
      document.getElementById("svg_form_time").appendChild(circle);
    }
    
    var circle = makeSVG("circle", {
      cx: positionX + 200,
      cy: 12,
      r: 12,
      width: positionX,
      height: 6
    });
    document.getElementById("svg_form_time").appendChild(circle);
    
    $('#svg_form_time rect').css('fill',base_color);
    $('#svg_form_time circle').css('fill',base_color);
    $("circle:nth-of-type(1)").css("fill", active_color);
    
     
    $(".button").click(function () {
      $("#svg_form_time rect").css("fill", active_color);
      $("#svg_form_time circle").css("fill", active_color);
      var id = $(this).attr("id");
      if (id == "next") {
        $("#prev").removeClass("disabled");
        if (child >= length) {
          $(this).addClass("disabled");
          $('#submit').removeClass("disabled");
        }
        if (child <= length) {
          child++;
        }
      } else if (id == "prev") {
        $("#next").removeClass("disabled");
        $('#submit').addClass("disabled");
        if (child <= 2) {
          $(this).addClass("disabled");
        }
        if (child > 1) {
          child--;
        }
      }
      var circle_child = child + 1;
      $("#svg_form_time rect:nth-of-type(n + " + child + ")").css(
        "fill",
        base_color
      );
      $("#svg_form_time circle:nth-of-type(n + " + circle_child + ")").css(
        "fill",
        base_color
      );
      var currentSection = $("section:nth-of-type(" + child + ")");
      currentSection.fadeIn();
      currentSection.css('transform','translateX(0)');
      currentSection.prevAll('section').css('transform','translateX(-100px)');
      currentSection.nextAll('section').css('transform','translateX(100px)');
      $('section').not(currentSection).hide();
    });
    
    });
</script>

<!-- Google Maps API Stuff -->
<script>
    let map, autocomplete, posMarker, homeLocation;
    let restaurantMarkers = [], restaurantData = [], restaurantRoutes = [];

    let directionsRenderer; // declare up here so only 1 route is shown at a time

    async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");

        map = new Map(document.getElementById("map"), {
            center: { lat: 39.80, lng: -98.5556199 },
            zoom: 4,
            mapTypeId: 'roadmap',
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            fullscreenControl: false
        });

        posMarker = new google.maps.Marker({
            map,
            anchorPoint: new google.maps.Point(0, -29),
        });
        posMarker.setVisible(false);

        directionsRenderer = new google.maps.DirectionsRenderer();
        directionsRenderer.setMap(map);
    }

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById("address"),
            {
                componentRestrictions: { country: "us" },
                fields: ["geometry", "icon", "name", "place_id"],
            }
        );

        autocomplete.addListener("place_changed", onPlaceChanged);
    }

    function onPlaceChanged() {
        var place = autocomplete.getPlace();

        if (!place.geometry || !place.geometry.location) { // user did not select a prediction
            document.getElementById("address").placeholder = 'Enter a place';
            console.log("No details available for input: '" + place.name + "'");
            return;
        } 
        
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
            map.setZoom(13);
        } else {
            document.getElementById("autocompleteDropdown").innerHTML = place.name;

            map.setCenter(place.geometry.location);
            map.setZoom(15);
        }
        // console.log("RESTAURANT");
        // console.log(place);

        homeLocation = place.geometry.location;
        $(".selectRestaurantDiv").show();
        $("#delivAddress").val(place.name);

        posMarker.setPosition(place.geometry.location);
        posMarker.setVisible(true);

        findNearbyRestaurants(place.geometry.location);
    }

    function findNearbyRestaurants(location) {
        service = new google.maps.places.PlacesService(map);
        var request = {
            location: location,
            radius: '16093', // 10 mile radius 
            type: ['restaurant']
        };
        service.nearbySearch(request, nearbyRestaurantsFound);
    }

    function nearbyRestaurantsFound(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            const allRestaurants = [];
            for (var i = 0; i < results.length; i++) {
                // console.log(results[i]);
                restaurantData.push(results[i]);
                addMarker(results[i]);
            }

            displayRestaurants();
        }
    }

    function displayRestaurants() {
        for (let i = 0; i < restaurantData.length; i+=3) {
            for (let j = 0; j < 3; j++) {
                restaurantIndex = i + j;
                if (restaurantIndex >= restaurantData.length) { break; }
                place = restaurantData[restaurantIndex];

                $("#availableRestaurants").append(`
                <option class="col-3 restaurantOption">
                    <h4>${place.name}</h4>
                </option>
                `);
            }
        }

    }

    function getEcoDirections(event) {
        selected = $("#availableRestaurants").val();

        // clear all other markers
        for (let marker of restaurantMarkers) { marker.setMap(null); }
        posMarker.setMap(null);

        // find coords of restaurant
        let placeLocation;
        for (let restaurant of restaurantData) {
            if (restaurant.name == selected){
                placeLocation = restaurant.geometry.location;
                break;
            }
        }

        // create route on map
        const directionsService = new google.maps.DirectionsService();
        
        directionsService.route({
            origin: placeLocation,
            destination: homeLocation,
            travelMode: "DRIVING",
            unitSystem: google.maps.UnitSystem.IMPERIAL,
            provideRouteAlternatives: false
        })
        .then((response) => {
            // console.log(response);

            directionsRenderer.setDirections(response);
            
            const route = response.routes[0];
            const summaryPanel = document.getElementById("directions-panel");

            // Display summary information
            summaryPanel.innerHTML = "<h5 style='margin-top: 20px'><b>Route Summary</b><h5>";
            summaryPanel.innerHTML += "Travel Distance: <b>" + route.legs[0].distance.text + "</b><br>";
            summaryPanel.innerHTML += "Travel Duration: <b>" + route.legs[0].duration.text + "</b><br>";
        })
    }

    function addMarker(place) {
        marker = new google.maps.Marker({
            position: place.geometry.location,
            map: map
        });
        restaurantMarkers.push(marker);
    }

    initMap();
    initAutocomplete();
    document.getElementById("availableRestaurants").addEventListener("change", getEcoDirections);
    $(".selectRestaurantDiv").hide();

</script>


</html>
